<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.emp-mapper">
	<resultMap type="EmpVO" id="empMap">
		<result property="dvo.dname" column="dname"/>
		<!-- 
			dvo.dname이 아래랑 같음
			dvo.setDname(rs.getString("dname"))
		 -->
		 <result property="dvo.loc" column="loc"/>
		 <result property="svo.grade" column="grade"/>
	</resultMap>
	<select id="empListData" resultType="EmpVO">
		SELECT empno,ename,job,
		TO_CHAR(hiredate,'YYYY-MM-DD') as dbday,sal
		FROM emp
	</select>
	<select id="foodTypeListData" resultType="com.sist.vo.FoodVO"
		parameterType="string">
		SELECT fno,name,poster,rownum
		FROM (SELECT fno,name,poster
		FROM food_menupan WHERE type LIKE '%'||#{type}||'%'
		ORDER BY fno ASC)
		WHERE rownum&lt;=20
	</select>
	<select id="empDeptJoinData" resultMap="empMap">
		SELECT empno,ename,job,dname,loc,grade 
		FROM emp,dept,salgrade
		WHERE emp.deptno=dept.deptno
		AND sal BETWEEN losal AND hisal
	</select>
	<select id="empDeptSubqueryData" resultMap="empMap">
		SELECT empno,ename,job,
				(SELECT dname FROM dept WHERE deptno=emp.deptno) as dname,
				(SELECT loc FROM dept WHERE deptno=emp.deptno) as loc,
				(SELECT grade FROM salgrade WHERE emp.sal BETWEEN losal AND hisal) as grade
		FROM emp
	</select>
</mapper>