<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.board-mapper">

	<!-- 반복 제거 -->
	<sql id="where-no">
		WHERE no=#{no}
	</sql>
	<!-- 목록 출력 -->
	<select id="boardListData" resultType="BoardVO"
		parameterType="hashmap">
		SELECT no,subject,name,regdate,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,hit,num 
		FROM (SELECT no,subject,name,regdate,hit,rownum as num 
		FROM (SELECT no,subject,name,regdate,hit 
		FROM board ORDER BY no ASC)) 
		WHERE num BETWEEN #{start} and #{end} 
	</select>
	
	  <!-- 총페이지 구하기 -->
  	<select id="boardTotalPage" resultType="int">
  		SELECT CEIL(COUNT(*)/10.0) FROM board
  	</select>
  	
  	<!-- 데이터 추가 (글쓰기) -->
  	<insert id="boardInsert" parameterType="BoardVO">
  	<!--  Mybatis의 sequence: 자동 증가 번호 -->
  		<selectKey keyProperty="no" resultType="int" order="BEFORE">
  			SELECT NVL(MAX(no)+1,1) as no FROM board
  		</selectKey>
  			INSERT INTO board VALUES(#{no},#{name},#{subject},#{content},#{pwd},SYSDATE,0)
  			
  	</insert>
  	
  	<!-- 조회수 증가 -->
  	<update id="hitIncrement" parameterType="int">
  		UPDATE board SET
  		hit=hit+1
  		<include refid="where-no"/>
  	
  	</update>
  	
  	<!-- 상세보기 -->
  	<select id="boardDetailData" resultType="BoardVO" parameterType="int">
  		SELECT * FROM board
  		<include refid="where-no"/>
  	
  	</select>
  	<!-- 비밀번호 읽기 -->
  	<select id="boardGetPassword" resultType="string" parameterType="int">
  		SELECT pwd FROM board
  		<include refid="where-no"/>
  	
  	</select>
  	
  	<!-- 수정하기 -->
  	<update id="boardUpdate" parameterType="BoardVO">
  		UPDATE board SET
  		name=#{name},subject=#{subject},content=#{content}
  		<include refid="where-no"/>
  	
  	</update>  	
  	
  	
  	<!-- 삭제하기 -->
  	<delete id="boardDelete" parameterType="int">
  		DELETE FROM #{board}
  		<include refid="where-no"/>
  	</delete>
  	<!--
  			SQL 문장
  			= resultType / parameterType
  			 	리턴형			매개변수
  			 	
  			=? 대신 #{컬럼명}
  			
  			#{} => ''
  			${} => 그대로  /테이블명 , 컬럼명
  	-->
  	
  	</mapper>