<?xml version="1.0" encoding="UTF-8"?>
<!-- Connection관련 -->
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="db.properties" />

	<typeAliases>
		<!-- VO 등록 -->
		<typeAlias type="com.sist.vo.FoodVO" alias="FoodVO" />
		<typeAlias type="com.sist.vo.SeoulVO" alias="SeoulVO" />
		<typeAlias type="com.sist.vo.RecipeVO" alias="RecipeVO" />
		<typeAlias type="com.sist.vo.ChefVO" alias="ChefVO" />
		<typeAlias type="com.sist.vo.MemberVO" alias="MemberVO" />
		<typeAlias type="com.sist.vo.EmpVO" alias="EmpVO" />
		<typeAlias type="com.sist.vo.BoardVO" alias="BoardVO" />
		<typeAlias type="com.sist.vo.NoticeVO" alias="NoticeVO" />
		<typeAlias type="com.sist.vo.QnABoardVO" alias="QnABoardVO" />
		<typeAlias type="com.sist.vo.ReplyVO" alias="ReplyVO" />
		<typeAlias type="com.sist.vo.JjimVO" alias="JjimVO" />
		<typeAlias type="com.sist.vo.GoodsVO" alias="GoodsVO" />
		<typeAlias type="com.sist.vo.CartVO" alias="CartVO"/>
		<typeAlias type="com.sist.vo.ReserveVO" alias="ReserveVO"/>
		<typeAlias type="com.sist.vo.DateVO" alias="DateVO"/>
		<typeAlias type="com.sist.vo.TimeVO" alias="TimeVO"/>
		
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<!-- POOLED 반환하여 재사용 UNPOOLED : JDBC = 열기 / 닫기 = (연결에 시간이 많이 걸림) -->
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/sist/mapper/food-mapper.xml" />
		<mapper resource="com/sist/mapper/seoul-mapper.xml" />
		<mapper resource="com/sist/mapper/recipe-mapper.xml" />
		<mapper resource="com/sist/mapper/member-mapper.xml" />
		<mapper resource="com/sist/mapper/emp-mapper.xml" />
		<mapper resource="com/sist/mapper/board-mapper.xml" />
		<mapper resource="com/sist/mapper/notice-mapper.xml" />
		<mapper resource="com/sist/mapper/qna-mapper.xml" />
		<mapper resource="com/sist/mapper/reply-mapper.xml" />
		<mapper resource="com/sist/mapper/jjim-mapper.xml" />
		<mapper resource="com/sist/mapper/goods-mapper.xml" />
		<mapper resource="com/sist/mapper/cart-mapper.xml"/>
		<mapper resource="com/sist/mapper/reserve-mapper.xml"/>
	</mappers>
</configuration>