<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.emp-mapper">
	<select id="empGetEnameData" resultType="EmpVO">
	  SELECT empno,ename
	  FROM emp
	</select>
	<select id="empFindData" resultType="EmpVO" parameterType="hashmap">
		SELECT empno,ename,job,sal,TO_CHAR(hiredate,'YYYY-MM-DD') as dbday
		FROM emp
		<!--  
				prefix => 앞에추가
				suffix => 뒤에추가
				suffixOverrides => 뒤에 제거
				prefixOverrides => 앞에 제거
		-->
		<trim prefix="WHERE empno IN(" suffix=")" suffixOverrides=")">
			<foreach collection="empnos" item="empno" close=")" separator=",">#{empno}</foreach>
		</trim>
	</select>

</mapper>