<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.food-mapper">
<!-- ResultSet(resultType) / PreparedStatement(SQL) -->
<!-- JOIN -->


	<select id="foodMainHouseData" resultType="FoodVO">
		SELECT * FROM (SELECT * FROM project_food ORDER BY DBMS_RANDOM.RANDOM)
		WHERE rownum&lt;=1
	
	</select>
	<select id="foodMainHouseData8" resultType="FoodVO">
		SELECT * FROM (SELECT * FROM project_food ORDER BY DBMS_RANDOM.RANDOM)
		WHERE rownum&lt;=8
	 
	</select>
	<!-- 맛집 목록 -->
	<select id="foodListData" resultType="FoodVO" parameterType="hashmap">
		SELECT fno,name,poster,score,type,content,theme,phone,address,num 
		FROM (SELECT fno,name,poster,score,type,content,theme,phone,address,rownum as num 
		FROM (SELECT /*+ INDEX_ASC(project_food pf_fno_pk)*/fno,name,poster,score,type,content,theme,phone,address
		FROM project_food))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<select id="foodTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/20.0) FROM project_food
	</select>
</mapper>