@charset "UTF-8";

* {
	font-family: "42dot Sans", serif;
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
}

.table_content {
	margin: 0px auto;
}

#image {
	width: 100%;
	height: 450px;
}

#title {
	font-size: 24px;
	font-weight: bold;
}

#sub {
	color: gray;
	text-align: center;
}

#percent {
	font-size: 24px;
	color: red;
	font-weight: bold;
}

#price {
	font-size: 24px;
	font-weight: bold;
}

#star {
	color: orange;
	font-weight: bold;
}

#bold {
	font-weight: bold;
}

#count {
	color: gray;
}

.icon {
	width: 25px;
	heignt: 25px;
}

#sel {
	width: 100%;
	height: 40px;
}

#cart, #buy {
	width: 220px;
	height: 60px;
	border: 2px green solid;
	font-size: 20px;
	font-weight: bold;
	box-shadow: 5px 5px 5px #A9A9A9;
}

#cart:hover, #buy:hover {
	cursor: pointer;
}

#cart {
	background-color: white;
	color: green;
}

#buy {
	background-color: green;
	color: white;
}