<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- SQL문장 저장 : PreparedStatement / ResultSet
 		resultType / parameterType
 		결과값 받기 = 한개만 설정 : vo와 관련 => vo
 								vo와 관련없는 데이터 여러개 => hashmap
 		총페이지 :int
 		어떤 vo로 받을지
 		
 		=> 메소드 : selectList => row여러개
 				  selectOne => row한개
 				  insert / update / delete
 				 
 				 	=> selectList("food.foodListDate")
 		=> 간단한 SQL : @SELECT("")
 		   복잡한 SQL : XML
 		   				=> 동적쿼리
 		   				=> 조인
 		   				
  -->
 <mapper namespace="com.sist.mapper.food-mapper">
 	<select id="foodTop12" resultType="FoodVO" parameterType="string">
 	 SELECT fno,poster,name,rownum
 	 FROM (SELECT fno,poster,name
 	 FROM food_menupan ORDER BY ${column} DESC)
 	 WHERE rownum&lt;=12
 	</select>
 <!-- 
 	<select id="foodHitTop12" resultType="FoodVO">
 	 SELECT fno,poster,name,rownum
 	 FROM (SELECT fno,poster,name
 	 FROM food_menupan ORDER BY hit ASC)
 	 WHERE rownum&lt;=12
 	</select>
 
 	<select id="foodScoreTop12" resultType="FoodVO">
 	 SELECT fno,poster,name,rownum
 	 FROM (SELECT fno,poster,name
 	 FROM food_menupan ORDER BY score ASC)
 	 WHERE rownum&lt;=12
 	</select> -->
 	
 	<select id="foodListData" resultType="FoodVO" parameterType="hashmap">
 		SELECT fno,poster,name,num 
 		FROM (SELECT fno,poster,name,rownum as num 
 		FROM (SELECT /*+ INDEX_ASC(food_menupan fm_fno_pk)*/fno,poster,name
 		FROM food_menupan))
 		WHERE num BETWEEN #{start} AND #{end}
 	</select>
 	
 	<select id="foodTotalPage" resultType="int">
 		SELECT CEIL(COUNT(*)/20.0) FROM food_menupan
 	</select>
 	
 	
 </mapper>
